<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Green Points</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="margin: 0px auto;">
      <ion-card-title style="align-items: center; color: green; display: flex; justify-content: center;"> Green points</ion-card-title>
    </ion-card-header>
    <ion-card-content style=" display: flex; justify-content: center;">
      You have earned 35000 credits
    </ion-card-content>
  </ion-card>
  <div class="ldBar label-center"
      id="tree"
      style="width: 17rem; height: 200px; margin: 0px auto;margin-bottom: 50px;"></div>
      <ion-list>
        <ion-list-header>
          Green Initiative Parnters
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/mrM.png">
          </ion-avatar>
          <ion-label>
            <h2>Mac donalds</h2>
            <h3>Killing chickens since 1948</h3>
            </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/mrM.png">
          </ion-avatar>
          <ion-label>
            <h2>Mac donalds</h2>
            <h3>Killing chickens since 1948</h3>
            </ion-label>
        </ion-item>        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/mrM.png">
          </ion-avatar>
          <ion-label>
            <h2>Mac donalds</h2>
            <h3>Killing chickens since 1948</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

