<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-item>
        <ion-icon name="leaf-outline" slot="end" style="color: green;"></ion-icon>
        <ion-label>Nurtured Halifax</ion-label>
      </ion-item>
    
      <ion-card-content>
        29 Feb 2020 | 100 CAD 
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>Irving Nova Scotia</ion-label>
      </ion-item>
    
      <ion-card-content>
        29 Feb 2020 | 19.08 CAD 
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
