<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let t of transactions">
      <ion-item>
        <ion-icon name="leaf-outline" slot="end" style="color: green;" *ngIf="t.type=='eco'"></ion-icon>
        <ion-label>{{t.name}}</ion-label>
      </ion-item>
    
      <ion-card-content>
        {{t.date | date: 'MMM d, y'}} | {{t.amount}} CAD 
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
